*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
html,
body,
main,
#__next {
  min-height: 100vh;
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
}
.layout {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  align-items: center;
  flex-grow: 1;
  margin: 0 auto;
}
